.execute-code-button {
  margin: 5px;
  padding: 5px;
  color: var(--text-muted);
  position: absolute;
  top: 0;
  right: 3.5em;
  display: none;
}

pre:hover > button.execute-code-button {
  display: block;
}

.commander-header{
  text-align: center;
}

.commander-header button{
  color: var(--text-muted);
}

.commander-output{
  color: var(--text-muted);
  word-break: break-all;
  white-space: initial;
  overflow-x: auto;
  user-select: text;
  border-radius: 5px;
  margin: 16px;
  padding: 2px 8px;
  background-color: var(--background-secondary-alt);
  height: inherit;
}

.commander-lang-settings-header, .commander-env-settings {
  border-style: solid;
  border-color: var(--background-modifier-border);
}

.commander-lang-settings-header {
  border-width: 1px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.commander-env-settings {
  border-width: 0;
  padding-top: 1em;
}

.commander-env-settings:first-child {
  border-width: 1px 0 0 0;
}

.commander-lang-settings-header .setting-item{
  border: 0;
}

.commander-lang-settings {
  border: 0;
}

.commander-lang-settings .setting-item {
  border: 0 !important;
  padding-top: 1em;
}

.commander-lang-delete-btn {
  background-color: transparent !important;
  color: var(--text-muted);
}

.commander-lang-delete-btn:hover {
  color: var(--text-normal);
}

.commander-settings-title {
  margin-top: 2em;
}
