.commander-execute-container{
  z-index: 9;
  right: 1em;
  left: auto !important;
  margin: 5px;
  cursor: pointer;
}

.commander-block-relative{
  position: relative;
}

.commander-block-relative .commander-execute-container{
  position: absolute;
  top: -100%;
  right: 0;
  opacity: 0;
  animation-delay: 1s;
  transition: top 200ms, opacity 200ms;
}

.commander-block-relative:hover .commander-execute-container{
  top: 0;
  opacity: 1;
}

.commander-execute-container > button{
  margin: auto;
}

.commander-header{
  text-align: center;
}

.commander-header button{
  color: var(--text-muted);
}

.commander-output{
  color: var(--text-muted);
  word-break: break-all;
  white-space: initial;
  overflow-x: auto;
  user-select: text;
  border-radius: 5px;
  margin: 16px;
  padding: 2px 8px;
  background-color: var(--background-secondary-alt);
  height: inherit;
}

.commander-lang-settings {
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--background-modifier-border);
}
.commander-lang-settings .setting-item {
  border: 0 !important;
  padding-top: 1em;
}
